# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db


gradle.properties
local.properties
*.asc
*.gpg
secret-key.asc

# Logs
*.log